<h1>Welcome to Yelp</h1>
<% @restaurants.each do |restaurant| %>
<p><%= link_to restaurant.name, restaurant_path(restaurant) %></p>
<p><%= restaurant.address %></p>
<p><%= restaurant.phone_number %></p>
<p><%= restaurant.category.capitalize %></p>
<br>
<% end %>

<%= link_to "Add a new Restaurant", new_restaurant_path(@restaurant), class: "btn btn-primary" %>
